<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qppi.crud.dao.MesslistMapper">
  <resultMap id="BaseResultMap" type="com.qppi.crud.bean.Messlist">
    <id column="mlist_id" jdbcType="VARCHAR" property="mlistId" />
    <result column="sendby" jdbcType="VARCHAR" property="sendby" />
    <result column="recby" jdbcType="VARCHAR" property="recby" />
    <result column="endtime" jdbcType="VARCHAR" property="endtime" />
    <result column="unreadcount" jdbcType="VARCHAR" property="unreadcount" />
    <result column="yl1" jdbcType="VARCHAR" property="yl1" />
    <result column="yl2" jdbcType="VARCHAR" property="yl2" />
    <result column="yl3" jdbcType="VARCHAR" property="yl3" />
    <result column="yl4" jdbcType="VARCHAR" property="yl4" />
    <result column="yl5" jdbcType="VARCHAR" property="yl5" />
    <result column="yl6" jdbcType="VARCHAR" property="yl6" />
    <result column="yl7" jdbcType="VARCHAR" property="yl7" />
    <result column="yl8" jdbcType="VARCHAR" property="yl8" />
    <result column="yl9" jdbcType="VARCHAR" property="yl9" />
    <result column="yl10" jdbcType="VARCHAR" property="yl10" />
    <result column="yl11" jdbcType="VARCHAR" property="yl11" />
    <result column="yl12" jdbcType="VARCHAR" property="yl12" />
    <result column="yl13" jdbcType="VARCHAR" property="yl13" />
    <result column="yl14" jdbcType="VARCHAR" property="yl14" />
    <result column="yl15" jdbcType="VARCHAR" property="yl15" />
    <result column="yl16" jdbcType="VARCHAR" property="yl16" />
    <result column="yl17" jdbcType="VARCHAR" property="yl17" />
    <result column="yl18" jdbcType="VARCHAR" property="yl18" />
    <result column="yl19" jdbcType="VARCHAR" property="yl19" />
    <result column="yl20" jdbcType="VARCHAR" property="yl20" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.qppi.crud.bean.Messlist">
    <result column="endmess" jdbcType="LONGVARCHAR" property="endmess" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    mlist_id, sendby, recby, endtime, unreadcount, yl1, yl2, yl3, yl4, yl5, yl6, yl7, 
    yl8, yl9, yl10, yl11, yl12, yl13, yl14, yl15, yl16, yl17, yl18, yl19, yl20, endmess
  </sql>
  <sql id="Blob_Column_List">
    endmess
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.qppi.crud.bean.MesslistExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tb_messlist
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.qppi.crud.bean.MesslistExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_messlist
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tb_messlist
    where mlist_id = #{mlistId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tb_messlist
    where mlist_id = #{mlistId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.qppi.crud.bean.MesslistExample">
    delete from tb_messlist
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.qppi.crud.bean.Messlist">
    insert into tb_messlist (mlist_id, sendby, recby, 
      endtime, unreadcount, yl1, 
      yl2, yl3, yl4, yl5, 
      yl6, yl7, yl8, yl9, 
      yl10, yl11, yl12, yl13, 
      yl14, yl15, yl16, yl17, 
      yl18, yl19, yl20, endmess
      )
    values (#{mlistId,jdbcType=VARCHAR}, #{sendby,jdbcType=VARCHAR}, #{recby,jdbcType=VARCHAR}, 
      #{endtime,jdbcType=VARCHAR}, #{unreadcount,jdbcType=VARCHAR}, #{yl1,jdbcType=VARCHAR}, 
      #{yl2,jdbcType=VARCHAR}, #{yl3,jdbcType=VARCHAR}, #{yl4,jdbcType=VARCHAR}, #{yl5,jdbcType=VARCHAR}, 
      #{yl6,jdbcType=VARCHAR}, #{yl7,jdbcType=VARCHAR}, #{yl8,jdbcType=VARCHAR}, #{yl9,jdbcType=VARCHAR}, 
      #{yl10,jdbcType=VARCHAR}, #{yl11,jdbcType=VARCHAR}, #{yl12,jdbcType=VARCHAR}, #{yl13,jdbcType=VARCHAR}, 
      #{yl14,jdbcType=VARCHAR}, #{yl15,jdbcType=VARCHAR}, #{yl16,jdbcType=VARCHAR}, #{yl17,jdbcType=VARCHAR}, 
      #{yl18,jdbcType=VARCHAR}, #{yl19,jdbcType=VARCHAR}, #{yl20,jdbcType=VARCHAR}, #{endmess,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.qppi.crud.bean.Messlist">
    insert into tb_messlist
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="mlistId != null">
        mlist_id,
      </if>
      <if test="sendby != null">
        sendby,
      </if>
      <if test="recby != null">
        recby,
      </if>
      <if test="endtime != null">
        endtime,
      </if>
      <if test="unreadcount != null">
        unreadcount,
      </if>
      <if test="yl1 != null">
        yl1,
      </if>
      <if test="yl2 != null">
        yl2,
      </if>
      <if test="yl3 != null">
        yl3,
      </if>
      <if test="yl4 != null">
        yl4,
      </if>
      <if test="yl5 != null">
        yl5,
      </if>
      <if test="yl6 != null">
        yl6,
      </if>
      <if test="yl7 != null">
        yl7,
      </if>
      <if test="yl8 != null">
        yl8,
      </if>
      <if test="yl9 != null">
        yl9,
      </if>
      <if test="yl10 != null">
        yl10,
      </if>
      <if test="yl11 != null">
        yl11,
      </if>
      <if test="yl12 != null">
        yl12,
      </if>
      <if test="yl13 != null">
        yl13,
      </if>
      <if test="yl14 != null">
        yl14,
      </if>
      <if test="yl15 != null">
        yl15,
      </if>
      <if test="yl16 != null">
        yl16,
      </if>
      <if test="yl17 != null">
        yl17,
      </if>
      <if test="yl18 != null">
        yl18,
      </if>
      <if test="yl19 != null">
        yl19,
      </if>
      <if test="yl20 != null">
        yl20,
      </if>
      <if test="endmess != null">
        endmess,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="mlistId != null">
        #{mlistId,jdbcType=VARCHAR},
      </if>
      <if test="sendby != null">
        #{sendby,jdbcType=VARCHAR},
      </if>
      <if test="recby != null">
        #{recby,jdbcType=VARCHAR},
      </if>
      <if test="endtime != null">
        #{endtime,jdbcType=VARCHAR},
      </if>
      <if test="unreadcount != null">
        #{unreadcount,jdbcType=VARCHAR},
      </if>
      <if test="yl1 != null">
        #{yl1,jdbcType=VARCHAR},
      </if>
      <if test="yl2 != null">
        #{yl2,jdbcType=VARCHAR},
      </if>
      <if test="yl3 != null">
        #{yl3,jdbcType=VARCHAR},
      </if>
      <if test="yl4 != null">
        #{yl4,jdbcType=VARCHAR},
      </if>
      <if test="yl5 != null">
        #{yl5,jdbcType=VARCHAR},
      </if>
      <if test="yl6 != null">
        #{yl6,jdbcType=VARCHAR},
      </if>
      <if test="yl7 != null">
        #{yl7,jdbcType=VARCHAR},
      </if>
      <if test="yl8 != null">
        #{yl8,jdbcType=VARCHAR},
      </if>
      <if test="yl9 != null">
        #{yl9,jdbcType=VARCHAR},
      </if>
      <if test="yl10 != null">
        #{yl10,jdbcType=VARCHAR},
      </if>
      <if test="yl11 != null">
        #{yl11,jdbcType=VARCHAR},
      </if>
      <if test="yl12 != null">
        #{yl12,jdbcType=VARCHAR},
      </if>
      <if test="yl13 != null">
        #{yl13,jdbcType=VARCHAR},
      </if>
      <if test="yl14 != null">
        #{yl14,jdbcType=VARCHAR},
      </if>
      <if test="yl15 != null">
        #{yl15,jdbcType=VARCHAR},
      </if>
      <if test="yl16 != null">
        #{yl16,jdbcType=VARCHAR},
      </if>
      <if test="yl17 != null">
        #{yl17,jdbcType=VARCHAR},
      </if>
      <if test="yl18 != null">
        #{yl18,jdbcType=VARCHAR},
      </if>
      <if test="yl19 != null">
        #{yl19,jdbcType=VARCHAR},
      </if>
      <if test="yl20 != null">
        #{yl20,jdbcType=VARCHAR},
      </if>
      <if test="endmess != null">
        #{endmess,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.qppi.crud.bean.MesslistExample" resultType="java.lang.Long">
    select count(*) from tb_messlist
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_messlist
    <set>
      <if test="record.mlistId != null">
        mlist_id = #{record.mlistId,jdbcType=VARCHAR},
      </if>
      <if test="record.sendby != null">
        sendby = #{record.sendby,jdbcType=VARCHAR},
      </if>
      <if test="record.recby != null">
        recby = #{record.recby,jdbcType=VARCHAR},
      </if>
      <if test="record.endtime != null">
        endtime = #{record.endtime,jdbcType=VARCHAR},
      </if>
      <if test="record.unreadcount != null">
        unreadcount = #{record.unreadcount,jdbcType=VARCHAR},
      </if>
      <if test="record.yl1 != null">
        yl1 = #{record.yl1,jdbcType=VARCHAR},
      </if>
      <if test="record.yl2 != null">
        yl2 = #{record.yl2,jdbcType=VARCHAR},
      </if>
      <if test="record.yl3 != null">
        yl3 = #{record.yl3,jdbcType=VARCHAR},
      </if>
      <if test="record.yl4 != null">
        yl4 = #{record.yl4,jdbcType=VARCHAR},
      </if>
      <if test="record.yl5 != null">
        yl5 = #{record.yl5,jdbcType=VARCHAR},
      </if>
      <if test="record.yl6 != null">
        yl6 = #{record.yl6,jdbcType=VARCHAR},
      </if>
      <if test="record.yl7 != null">
        yl7 = #{record.yl7,jdbcType=VARCHAR},
      </if>
      <if test="record.yl8 != null">
        yl8 = #{record.yl8,jdbcType=VARCHAR},
      </if>
      <if test="record.yl9 != null">
        yl9 = #{record.yl9,jdbcType=VARCHAR},
      </if>
      <if test="record.yl10 != null">
        yl10 = #{record.yl10,jdbcType=VARCHAR},
      </if>
      <if test="record.yl11 != null">
        yl11 = #{record.yl11,jdbcType=VARCHAR},
      </if>
      <if test="record.yl12 != null">
        yl12 = #{record.yl12,jdbcType=VARCHAR},
      </if>
      <if test="record.yl13 != null">
        yl13 = #{record.yl13,jdbcType=VARCHAR},
      </if>
      <if test="record.yl14 != null">
        yl14 = #{record.yl14,jdbcType=VARCHAR},
      </if>
      <if test="record.yl15 != null">
        yl15 = #{record.yl15,jdbcType=VARCHAR},
      </if>
      <if test="record.yl16 != null">
        yl16 = #{record.yl16,jdbcType=VARCHAR},
      </if>
      <if test="record.yl17 != null">
        yl17 = #{record.yl17,jdbcType=VARCHAR},
      </if>
      <if test="record.yl18 != null">
        yl18 = #{record.yl18,jdbcType=VARCHAR},
      </if>
      <if test="record.yl19 != null">
        yl19 = #{record.yl19,jdbcType=VARCHAR},
      </if>
      <if test="record.yl20 != null">
        yl20 = #{record.yl20,jdbcType=VARCHAR},
      </if>
      <if test="record.endmess != null">
        endmess = #{record.endmess,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update tb_messlist
    set mlist_id = #{record.mlistId,jdbcType=VARCHAR},
      sendby = #{record.sendby,jdbcType=VARCHAR},
      recby = #{record.recby,jdbcType=VARCHAR},
      endtime = #{record.endtime,jdbcType=VARCHAR},
      unreadcount = #{record.unreadcount,jdbcType=VARCHAR},
      yl1 = #{record.yl1,jdbcType=VARCHAR},
      yl2 = #{record.yl2,jdbcType=VARCHAR},
      yl3 = #{record.yl3,jdbcType=VARCHAR},
      yl4 = #{record.yl4,jdbcType=VARCHAR},
      yl5 = #{record.yl5,jdbcType=VARCHAR},
      yl6 = #{record.yl6,jdbcType=VARCHAR},
      yl7 = #{record.yl7,jdbcType=VARCHAR},
      yl8 = #{record.yl8,jdbcType=VARCHAR},
      yl9 = #{record.yl9,jdbcType=VARCHAR},
      yl10 = #{record.yl10,jdbcType=VARCHAR},
      yl11 = #{record.yl11,jdbcType=VARCHAR},
      yl12 = #{record.yl12,jdbcType=VARCHAR},
      yl13 = #{record.yl13,jdbcType=VARCHAR},
      yl14 = #{record.yl14,jdbcType=VARCHAR},
      yl15 = #{record.yl15,jdbcType=VARCHAR},
      yl16 = #{record.yl16,jdbcType=VARCHAR},
      yl17 = #{record.yl17,jdbcType=VARCHAR},
      yl18 = #{record.yl18,jdbcType=VARCHAR},
      yl19 = #{record.yl19,jdbcType=VARCHAR},
      yl20 = #{record.yl20,jdbcType=VARCHAR},
      endmess = #{record.endmess,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_messlist
    set mlist_id = #{record.mlistId,jdbcType=VARCHAR},
      sendby = #{record.sendby,jdbcType=VARCHAR},
      recby = #{record.recby,jdbcType=VARCHAR},
      endtime = #{record.endtime,jdbcType=VARCHAR},
      unreadcount = #{record.unreadcount,jdbcType=VARCHAR},
      yl1 = #{record.yl1,jdbcType=VARCHAR},
      yl2 = #{record.yl2,jdbcType=VARCHAR},
      yl3 = #{record.yl3,jdbcType=VARCHAR},
      yl4 = #{record.yl4,jdbcType=VARCHAR},
      yl5 = #{record.yl5,jdbcType=VARCHAR},
      yl6 = #{record.yl6,jdbcType=VARCHAR},
      yl7 = #{record.yl7,jdbcType=VARCHAR},
      yl8 = #{record.yl8,jdbcType=VARCHAR},
      yl9 = #{record.yl9,jdbcType=VARCHAR},
      yl10 = #{record.yl10,jdbcType=VARCHAR},
      yl11 = #{record.yl11,jdbcType=VARCHAR},
      yl12 = #{record.yl12,jdbcType=VARCHAR},
      yl13 = #{record.yl13,jdbcType=VARCHAR},
      yl14 = #{record.yl14,jdbcType=VARCHAR},
      yl15 = #{record.yl15,jdbcType=VARCHAR},
      yl16 = #{record.yl16,jdbcType=VARCHAR},
      yl17 = #{record.yl17,jdbcType=VARCHAR},
      yl18 = #{record.yl18,jdbcType=VARCHAR},
      yl19 = #{record.yl19,jdbcType=VARCHAR},
      yl20 = #{record.yl20,jdbcType=VARCHAR},
      endmess = #{endmess,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.qppi.crud.bean.Messlist">
    update tb_messlist
    <set>
      <if test="sendby != null">
        sendby = #{sendby,jdbcType=VARCHAR},
      </if>
      <if test="recby != null">
        recby = #{recby,jdbcType=VARCHAR},
      </if>
      <if test="endtime != null">
        endtime = #{endtime,jdbcType=VARCHAR},
      </if>
      <if test="unreadcount != null">
        unreadcount = #{unreadcount,jdbcType=VARCHAR},
      </if>
      <if test="yl1 != null">
        yl1 = #{yl1,jdbcType=VARCHAR},
      </if>
      <if test="yl2 != null">
        yl2 = #{yl2,jdbcType=VARCHAR},
      </if>
      <if test="yl3 != null">
        yl3 = #{yl3,jdbcType=VARCHAR},
      </if>
      <if test="yl4 != null">
        yl4 = #{yl4,jdbcType=VARCHAR},
      </if>
      <if test="yl5 != null">
        yl5 = #{yl5,jdbcType=VARCHAR},
      </if>
      <if test="yl6 != null">
        yl6 = #{yl6,jdbcType=VARCHAR},
      </if>
      <if test="yl7 != null">
        yl7 = #{yl7,jdbcType=VARCHAR},
      </if>
      <if test="yl8 != null">
        yl8 = #{yl8,jdbcType=VARCHAR},
      </if>
      <if test="yl9 != null">
        yl9 = #{yl9,jdbcType=VARCHAR},
      </if>
      <if test="yl10 != null">
        yl10 = #{yl10,jdbcType=VARCHAR},
      </if>
      <if test="yl11 != null">
        yl11 = #{yl11,jdbcType=VARCHAR},
      </if>
      <if test="yl12 != null">
        yl12 = #{yl12,jdbcType=VARCHAR},
      </if>
      <if test="yl13 != null">
        yl13 = #{yl13,jdbcType=VARCHAR},
      </if>
      <if test="yl14 != null">
        yl14 = #{yl14,jdbcType=VARCHAR},
      </if>
      <if test="yl15 != null">
        yl15 = #{yl15,jdbcType=VARCHAR},
      </if>
      <if test="yl16 != null">
        yl16 = #{yl16,jdbcType=VARCHAR},
      </if>
      <if test="yl17 != null">
        yl17 = #{yl17,jdbcType=VARCHAR},
      </if>
      <if test="yl18 != null">
        yl18 = #{yl18,jdbcType=VARCHAR},
      </if>
      <if test="yl19 != null">
        yl19 = #{yl19,jdbcType=VARCHAR},
      </if>
      <if test="yl20 != null">
        yl20 = #{yl20,jdbcType=VARCHAR},
      </if>
      <if test="endmess != null">
        endmess = #{endmess,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where mlist_id = #{mlistId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.qppi.crud.bean.Messlist">
    update tb_messlist
    set sendby = #{sendby,jdbcType=VARCHAR},
      recby = #{recby,jdbcType=VARCHAR},
      endtime = #{endtime,jdbcType=VARCHAR},
      unreadcount = #{unreadcount,jdbcType=VARCHAR},
      yl1 = #{yl1,jdbcType=VARCHAR},
      yl2 = #{yl2,jdbcType=VARCHAR},
      yl3 = #{yl3,jdbcType=VARCHAR},
      yl4 = #{yl4,jdbcType=VARCHAR},
      yl5 = #{yl5,jdbcType=VARCHAR},
      yl6 = #{yl6,jdbcType=VARCHAR},
      yl7 = #{yl7,jdbcType=VARCHAR},
      yl8 = #{yl8,jdbcType=VARCHAR},
      yl9 = #{yl9,jdbcType=VARCHAR},
      yl10 = #{yl10,jdbcType=VARCHAR},
      yl11 = #{yl11,jdbcType=VARCHAR},
      yl12 = #{yl12,jdbcType=VARCHAR},
      yl13 = #{yl13,jdbcType=VARCHAR},
      yl14 = #{yl14,jdbcType=VARCHAR},
      yl15 = #{yl15,jdbcType=VARCHAR},
      yl16 = #{yl16,jdbcType=VARCHAR},
      yl17 = #{yl17,jdbcType=VARCHAR},
      yl18 = #{yl18,jdbcType=VARCHAR},
      yl19 = #{yl19,jdbcType=VARCHAR},
      yl20 = #{yl20,jdbcType=VARCHAR},
      endmess = #{endmess,jdbcType=LONGVARCHAR}
    where mlist_id = #{mlistId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qppi.crud.bean.Messlist">
    update tb_messlist
    set sendby = #{sendby,jdbcType=VARCHAR},
      recby = #{recby,jdbcType=VARCHAR},
      endtime = #{endtime,jdbcType=VARCHAR},
      unreadcount = #{unreadcount,jdbcType=VARCHAR},
      yl1 = #{yl1,jdbcType=VARCHAR},
      yl2 = #{yl2,jdbcType=VARCHAR},
      yl3 = #{yl3,jdbcType=VARCHAR},
      yl4 = #{yl4,jdbcType=VARCHAR},
      yl5 = #{yl5,jdbcType=VARCHAR},
      yl6 = #{yl6,jdbcType=VARCHAR},
      yl7 = #{yl7,jdbcType=VARCHAR},
      yl8 = #{yl8,jdbcType=VARCHAR},
      yl9 = #{yl9,jdbcType=VARCHAR},
      yl10 = #{yl10,jdbcType=VARCHAR},
      yl11 = #{yl11,jdbcType=VARCHAR},
      yl12 = #{yl12,jdbcType=VARCHAR},
      yl13 = #{yl13,jdbcType=VARCHAR},
      yl14 = #{yl14,jdbcType=VARCHAR},
      yl15 = #{yl15,jdbcType=VARCHAR},
      yl16 = #{yl16,jdbcType=VARCHAR},
      yl17 = #{yl17,jdbcType=VARCHAR},
      yl18 = #{yl18,jdbcType=VARCHAR},
      yl19 = #{yl19,jdbcType=VARCHAR},
      yl20 = #{yl20,jdbcType=VARCHAR},
      endmess = #{endmess,jdbcType=LONGVARCHAR}
    where mlist_id = #{mlistId,jdbcType=VARCHAR}
  </update>
</mapper>