<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qppi.crud.dao.MessageInfoMapper">
  <resultMap id="BaseResultMap" type="com.qppi.crud.bean.MessageInfo">
    <id column="MESSAGEINFO_ID" jdbcType="VARCHAR" property="messageinfoId" />
    <result column="MESSAGE_TYPE" jdbcType="VARCHAR" property="messageType" />
    <result column="MESSAGE_CONTENT" jdbcType="VARCHAR" property="messageContent" />
    <result column="SEND_USER" jdbcType="VARCHAR" property="sendUser" />
    <result column="RECE_USER" jdbcType="VARCHAR" property="receUser" />
    <result column="CREATE_BY" jdbcType="VARCHAR" property="createBy" />
    <result column="CREATE_TIME" jdbcType="VARCHAR" property="createTime" />
    <result column="YL1" jdbcType="VARCHAR" property="yl1" />
    <result column="YL2" jdbcType="VARCHAR" property="yl2" />
    <result column="YL3" jdbcType="VARCHAR" property="yl3" />
    <result column="YL4" jdbcType="VARCHAR" property="yl4" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    MESSAGEINFO_ID, MESSAGE_TYPE, MESSAGE_CONTENT, SEND_USER, RECE_USER, CREATE_BY, CREATE_TIME, 
    YL1, YL2, YL3, YL4
  </sql>
  <select id="selectByExample" parameterType="com.qppi.crud.bean.MessageInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_messageinfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_messageinfo
    where MESSAGEINFO_ID = #{messageinfoId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tb_messageinfo
    where MESSAGEINFO_ID = #{messageinfoId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.qppi.crud.bean.MessageInfoExample">
    delete from tb_messageinfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.qppi.crud.bean.MessageInfo">
    insert into tb_messageinfo (MESSAGEINFO_ID, MESSAGE_TYPE, MESSAGE_CONTENT, 
      SEND_USER, RECE_USER, CREATE_BY, 
      CREATE_TIME, YL1, YL2, 
      YL3, YL4)
    values (#{messageinfoId,jdbcType=VARCHAR}, #{messageType,jdbcType=VARCHAR}, #{messageContent,jdbcType=VARCHAR}, 
      #{sendUser,jdbcType=VARCHAR}, #{receUser,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=VARCHAR}, #{yl1,jdbcType=VARCHAR}, #{yl2,jdbcType=VARCHAR}, 
      #{yl3,jdbcType=VARCHAR}, #{yl4,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qppi.crud.bean.MessageInfo">
    insert into tb_messageinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="messageinfoId != null">
        MESSAGEINFO_ID,
      </if>
      <if test="messageType != null">
        MESSAGE_TYPE,
      </if>
      <if test="messageContent != null">
        MESSAGE_CONTENT,
      </if>
      <if test="sendUser != null">
        SEND_USER,
      </if>
      <if test="receUser != null">
        RECE_USER,
      </if>
      <if test="createBy != null">
        CREATE_BY,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="yl1 != null">
        YL1,
      </if>
      <if test="yl2 != null">
        YL2,
      </if>
      <if test="yl3 != null">
        YL3,
      </if>
      <if test="yl4 != null">
        YL4,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="messageinfoId != null">
        #{messageinfoId,jdbcType=VARCHAR},
      </if>
      <if test="messageType != null">
        #{messageType,jdbcType=VARCHAR},
      </if>
      <if test="messageContent != null">
        #{messageContent,jdbcType=VARCHAR},
      </if>
      <if test="sendUser != null">
        #{sendUser,jdbcType=VARCHAR},
      </if>
      <if test="receUser != null">
        #{receUser,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="yl1 != null">
        #{yl1,jdbcType=VARCHAR},
      </if>
      <if test="yl2 != null">
        #{yl2,jdbcType=VARCHAR},
      </if>
      <if test="yl3 != null">
        #{yl3,jdbcType=VARCHAR},
      </if>
      <if test="yl4 != null">
        #{yl4,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.qppi.crud.bean.MessageInfoExample" resultType="java.lang.Long">
    select count(*) from tb_messageinfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_messageinfo
    <set>
      <if test="record.messageinfoId != null">
        MESSAGEINFO_ID = #{record.messageinfoId,jdbcType=VARCHAR},
      </if>
      <if test="record.messageType != null">
        MESSAGE_TYPE = #{record.messageType,jdbcType=VARCHAR},
      </if>
      <if test="record.messageContent != null">
        MESSAGE_CONTENT = #{record.messageContent,jdbcType=VARCHAR},
      </if>
      <if test="record.sendUser != null">
        SEND_USER = #{record.sendUser,jdbcType=VARCHAR},
      </if>
      <if test="record.receUser != null">
        RECE_USER = #{record.receUser,jdbcType=VARCHAR},
      </if>
      <if test="record.createBy != null">
        CREATE_BY = #{record.createBy,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.yl1 != null">
        YL1 = #{record.yl1,jdbcType=VARCHAR},
      </if>
      <if test="record.yl2 != null">
        YL2 = #{record.yl2,jdbcType=VARCHAR},
      </if>
      <if test="record.yl3 != null">
        YL3 = #{record.yl3,jdbcType=VARCHAR},
      </if>
      <if test="record.yl4 != null">
        YL4 = #{record.yl4,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_messageinfo
    set MESSAGEINFO_ID = #{record.messageinfoId,jdbcType=VARCHAR},
      MESSAGE_TYPE = #{record.messageType,jdbcType=VARCHAR},
      MESSAGE_CONTENT = #{record.messageContent,jdbcType=VARCHAR},
      SEND_USER = #{record.sendUser,jdbcType=VARCHAR},
      RECE_USER = #{record.receUser,jdbcType=VARCHAR},
      CREATE_BY = #{record.createBy,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      YL1 = #{record.yl1,jdbcType=VARCHAR},
      YL2 = #{record.yl2,jdbcType=VARCHAR},
      YL3 = #{record.yl3,jdbcType=VARCHAR},
      YL4 = #{record.yl4,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.qppi.crud.bean.MessageInfo">
    update tb_messageinfo
    <set>
      <if test="messageType != null">
        MESSAGE_TYPE = #{messageType,jdbcType=VARCHAR},
      </if>
      <if test="messageContent != null">
        MESSAGE_CONTENT = #{messageContent,jdbcType=VARCHAR},
      </if>
      <if test="sendUser != null">
        SEND_USER = #{sendUser,jdbcType=VARCHAR},
      </if>
      <if test="receUser != null">
        RECE_USER = #{receUser,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        CREATE_BY = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="yl1 != null">
        YL1 = #{yl1,jdbcType=VARCHAR},
      </if>
      <if test="yl2 != null">
        YL2 = #{yl2,jdbcType=VARCHAR},
      </if>
      <if test="yl3 != null">
        YL3 = #{yl3,jdbcType=VARCHAR},
      </if>
      <if test="yl4 != null">
        YL4 = #{yl4,jdbcType=VARCHAR},
      </if>
    </set>
    where MESSAGEINFO_ID = #{messageinfoId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qppi.crud.bean.MessageInfo">
    update tb_messageinfo
    set MESSAGE_TYPE = #{messageType,jdbcType=VARCHAR},
      MESSAGE_CONTENT = #{messageContent,jdbcType=VARCHAR},
      SEND_USER = #{sendUser,jdbcType=VARCHAR},
      RECE_USER = #{receUser,jdbcType=VARCHAR},
      CREATE_BY = #{createBy,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      YL1 = #{yl1,jdbcType=VARCHAR},
      YL2 = #{yl2,jdbcType=VARCHAR},
      YL3 = #{yl3,jdbcType=VARCHAR},
      YL4 = #{yl4,jdbcType=VARCHAR}
    where MESSAGEINFO_ID = #{messageinfoId,jdbcType=VARCHAR}
  </update>
</mapper>