<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ProclamationMapper">
	
	<!--表名 -->
	<sql id="tableName">
		TB_PROCLAMATION
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		TITLE,	
		CONTENT,	
		TYPE,	
		STATUS,	
		CREATE_BY,	
		CREATE_TIME,	
		REMARK,	
		YL1,	
		YL2,	
		YL3,	
		YL4,
		YL5,
		YL6,
		YL7,
		YL8,
		YL9,
		YL10,
		YL11,	
		YL12,	
		YL13,	
		YL14,
		YL15,
		YL16,
		YL17,
		YL18,
		YL19,
		YL20,		
		PROCLAMATION_ID
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{TITLE},	
		#{CONTENT},	
		#{TYPE},	
		#{STATUS},	
		#{CREATE_BY},	
		#{CREATE_TIME},	
		#{REMARK},	
		#{YL1},	
		#{YL2},	
		#{YL3},	
		#{YL4},
		#{YL5},
		#{YL6},	
		#{YL7},	
		#{YL8},	
		#{YL9},
		#{YL10},
		#{YL11},	
		#{YL12},	
		#{YL13},	
		#{YL14},
		#{YL15},
		#{YL16},	
		#{YL17},	
		#{YL18},	
		#{YL19},
		#{YL20},
		#{PROCLAMATION_ID}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			PROCLAMATION_ID = #{PROCLAMATION_ID}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		<set>
			<if test="TITLE != null and TITLE != ''">
				TITLE = #{TITLE},
			</if>
			<if test="CONTENT != null and CONTENT != ''">
				CONTENT = #{CONTENT},
			</if>
			<if test="TYPE != null and TYPE != ''">
				TYPE = #{TYPE},
			</if>
			<if test="STATUS != null and STATUS != ''">
				STATUS = #{STATUS},
			</if>
			<if test="CREATE_BY != null and CREATE_BY != ''">
				CREATE_BY = #{CREATE_BY},
			</if>
			<if test="CREATE_TIME != null and CREATE_TIME != ''">
				CREATE_TIME = #{CREATE_TIME},
			</if>
			<if test="REMARK != null and REMARK != ''">
				REMARK = #{REMARK},
			</if>
			<if test="YL1!= null and YL1 != ''">
				YL1 = #{YL1},
			</if>
			<if test="YL2!= null and YL2 != ''">
				YL2 = #{YL2},
			</if>
			<if test="YL3!= null and YL3 != ''">
				YL3 = #{YL3},
			</if>
			<if test="YL4!= null and YL4 != ''">
				YL4 = #{YL4},
			</if>
			<if test="YL5!= null and YL5 != ''">
				YL5 = #{YL5},
			</if>
			<if test="YL6!= null and YL6 != ''">
				YL6 = #{YL6},
			</if>
			<if test="YL7!= null and YL7 != ''">
				YL7 = #{YL7},
			</if>
			<if test="YL8!= null and YL8 != ''">
				YL8 = #{YL8},
			</if>
			<if test="YL9!= null and YL9 != ''">
				YL9 = #{YL9},
			</if>
			<if test="YL10!= null and YL10 != ''">
				YL10 = #{YL10},
			</if>
			<if test="YL11!= null and YL11 != ''">
				YL11 = #{YL11},
			</if>
			<if test="YL12!= null and YL12 != ''">
				YL12 = #{YL12},
			</if>
			<if test="YL13!= null and YL13 != ''">
				YL13 = #{YL13},
			</if>
			<if test="YL14!= null and YL14 != ''">
				YL14 = #{YL14},
			</if>
			<if test="YL15!= null and YL15 != ''">
				YL15 = #{YL15},
			</if>
			<if test="YL16!= null and YL16 != ''">
				YL16 = #{YL16},
			</if>
			<if test="YL17!= null and YL17 != ''">
				YL17 = #{YL17},
			</if>
			<if test="YL18!= null and YL18 != ''">
				YL18 = #{YL18},
			</if>
			<if test="YL19!= null and YL19 != ''">
				YL19 = #{YL19},
			</if>
			<if test="YL20!= null and YL20 != ''">
				YL20 = #{YL20},
			</if>
		</set> 
		where 
		PROCLAMATION_ID = #{PROCLAMATION_ID}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			PROCLAMATION_ID = #{PROCLAMATION_ID}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select p.*,u.NAME as uName from tb_userinfo u,tb_proclamation p where u.USERNAME = p.CREATE_BY
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
					p.TITLE LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					or
					p.CREATE_BY LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					or
					u.NAME LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') 
				)
		</if>
		<if test="pd.lastStart != null and pd.lastStart">
			and
			(
				p.CREATE_TIME <![CDATA[>=]]> #{pd.lastStart}
			)
		</if>
		<if test="pd.lastEnd != null and pd.lastEnd != ''">
			and
			(
				p.CREATE_TIME <![CDATA[<=]]> #{pd.lastEnd}
			)
		</if>
		<if test="pd.name != null and pd.name != ''">
			and
				(
					p.TYPE LIKE CONCAT(CONCAT('%', #{pd.name}),'%')
				)
		</if>
		<if test="pd.STATUS != null and pd.STATUS != ''">
			and
				(
					p.STATUS LIKE CONCAT(CONCAT('%', #{pd.STATUS}),'%')
				)
		</if>
		<if test="pd.YL1 != null and pd.YL1 != ''">
			and
				(
					p.YL1 =#{pd.YL1}
				)
		</if>
		ORDER BY p.CREATE_TIME DESC
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			PROCLAMATION_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
	<!-- fh313596790qq(青苔) -->
</mapper>